.execucao-edicao{
  height: 100%;
  padding:1em;
  border: 1px solid red;
}

.execucao-edicao .example-form{
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}

.execucao-edicao .example-full-width,
.execucao-edicao .btn-block{
  width: 100%;
}

.execucao-edicao-box{
  float: left;
  padding: 20px 30px 40px 20px;
  width: 50em;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  border: 1px solid red;
}


.executavel-edicao--botao-excluir-parametro{
  width: 400px;
  padding-bottom: 20px;
  border: 1px solid red;
}

.executavel-edicao--parametros-box{
  height: 40px;
  min-height: 40px;
  padding-bottom: 10px;
}

.executavel-edicao--botao-excluir-parametro{
  max-width: 40px;
}



